<div class="card-list">
  {{#each blogs}}
    <div class="card">
      <a href="/blog-detail/{{this._id}}"><h2
          class="card-title"
        >{{this.title}}</h2></a>
      <p class="card-author">Tác giả: {{this.author}}</p>
      <p class="card-date">Ngày tạo: {{this.date}}</p>
    </div>
  {{/each}}
</div>

<link rel="stylesheet" href="/css/myblog.css" />