<div class="login">
  <link rel="stylesheet" href="/css/login.css" />
  <h2>Login</h2>
  <form method="POST">
    <input name="username" type="text" placeholder="Username" />
    <input name="password" type="password" placeholder="Password" />
    <button type="submit">Log in</button>
  </form>
  <div class="su">
    <span>Chưa có tài khoản?.</span>
    <a href="/signup">Đăng ký ngay.</a>
  </div>
  <div class="fp">
    <span>Quên mật khẩu?.</span>
    <a href="">Lấy lại mật khẩu.</a>
  </div>
</div>