<div class="container">
  <form class="form" method="POST">
    <h2 class="form__title">Chỉnh sửa bài viết</h2>
    <div class="form__group">
      <label class="form__label" for="title">Tiêu đề</label>
      <input
        class="form__input"
        type="text"
        id="title"
        value="{{titleBlog}}"
        name="title"
        placeholder="Enter title here....."
        required
      />
    </div>
    <div class="form__group">
      <label class="form__label" for="content">Nội dung</label>
      <textarea
        class="form__textarea"
        id="content"
        name="content"
        value="{{contentBlog}}"
        placeholder="Enter content here....."
        required
      ></textarea>
    </div>
    <button class="form__button" type="submit">Cập nhật</button>
  </form>
</div>

<script>
  document.getElementById("content").value = "{{contentBlog}}";
</script>

<link rel="stylesheet" href="/css/createBlog.css" />